{"email":"{{ (bitwarden "item" "Vaultwarden").login.username }}","base_url":"{{ (bitwardenFields "item" "Vaultwarden").url.value }}","identity_url":null,"notifications_url":null,"lock_timeout":3600,"sync_interval":3600,"pinentry":"pinentry","client_cert_path":null}
