[general]
status_path = "~/.config/vdirsyncer/status/"

[pair work_calendar]
a = "work_calendar_local"
b = "work_calendar_remote"
collections = ["from a","from b"]
conflict_resolution = "b wins"

[pair calendars]
a = "nc_calendar"
b = "local_calendar"
collections = ["from a", "from b"]
metadata = ["color"]

[storage local_calendar]
type = "filesystem"
path = "~/.calendars/private"
fileext = ".ics"

[storage nc_calendar]
type = "caldav"
url = "{{ (bitwardenFields "item" "Nextcloud").calendaruri.value}}"
username = "{{ (bitwarden "item" "Nextcloud").login.username }}"
password = "{{ (bitwarden "item" "Nextcloud").login.password }}"

[storage work_calendar_local]
type = "filesystem"
path = "~/.calendars/work"
fileext = ".ics"

[storage work_calendar_remote]
type = "caldav"
url = "{{ (bitwardenFields "item" "Kopano").url.value}}"
username = "{{ (bitwarden "item" "Kopano").login.username }}"
password = "{{ (bitwarden "item" "Kopano").login.password }}"
